header {
  height: 9.6rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.1rem solid rgba(255, 255, 255, 0.11);
  display: flex;
  align-items: center;
  z-index: 999;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-menu {
    .logo {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        border-top: 0.2rem solid $primary-default;
        width: 4.3rem;
        bottom: -2.8rem;
      }
    }
    display: flex;
    align-items: center;
    gap: 11.2rem;
    .nav-links {
      .list-items {
        display: flex;
        align-items: center;
        gap: 3.4rem;
        li {
          a {
            display: flex;
            align-items: center;
            gap: 1.4rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  .right-menu {
    .buttons {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      .btn-primary {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        padding: 0 2.65rem;
      }
    }
  }
}
